# Server Supabase Environment Variables Example
PORT=5001
SUPABASE_URL=https://nwwchkmbycbgvneauqex.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_secret_key_here
SUPABASE_ANON_KEY=sb_publishable_1c6YarkkLcbFHvoi5YPtfQ__yaYF5xo
